:root{
  --maroon: #7A0019;
  --gold: #FFCC33;
  --edge: 10px;
  --spacing: 20px;
}

* {
  box-sizing: border-box;
}

body{
  font-family: "Courier New";
}

header {
  margin-top: var(--edge);
  margin-bottom: var(--spacing);
  padding-left: var(--edge);
  padding-right: var(--edge);
  background-color: var(--maroon);
}

header h1 {
  color: var(--gold);
  font-size: 60px;
  font-weight: bolder;
}

nav ul {
  text-align: right;
}

nav li {
  display: inline;
  margin-left: var(--edge);
}

nav li a{
  color: var(--gold);
  text-decoration: none;
}

.heading {
  border-bottom: 3px solid var(--maroon);
  margin-bottom: var(--edge);
}

.content {
  display: inline;
}

article {
  /* border: 1px solid green; */
  margin-bottom: var(--spacing);
  margin-left: var(--edge);
  margin-right: var(--edge);
}

article h2 {
  display: inline;
  font-size: 40px;
  font-weight: bolder;
}

section {
  /* border: 1px solid blue; */
  margin-bottom: var(--spacing);
  margin-left: var(--edge);
  margin-right: var(--edge);
}

section h2 {
  display: inline;
  font-size: 30px;
  font-weight: bolder;
}

.example-code {
  height: 200px;
  width: 200px;
  background-color: var(--gold);
}

#contact .content {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

#contact li, #contact p {
  display: inline;
  font-size: 20px;
  /* border: 1px solid black; */
}

footer {
  color: var(--maroon);
  background-color: var(--gold);
  text-align: center;
  padding-left: var(--edge);
  padding-right: var(--edge);
}